<section class="container index">
    <h1 class="title">Developers</h1><hr>
    <div class="row text-center">
        <img src="../static/img/about/boonyarith.jpg" alt="Boonyarith" class="img-circle" height="150px"> <br />
        <b>Boonyarith Piriyothinkul</b><br />
        Student at King Mongkut's Institute of Technology Ladkrabang
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <img src="../static/img/about/purim.jpg" alt="Purim" class="img-circle" height="150px"> <br />
            <b>Purim Nimsaeng</b><br />
            Student at King Mongkut's Institute of Technology Ladkrabang
        </div>
        <div class="col-md-6">
            <img src="../static/img/about/panu.jpg" alt="Panu" class="img-circle" height="150px"> <br />
            <b>Panu Songka</b><br />
            Student at King Mongkut's Institute of Technology Ladkrabang
        </div>
    </div>
    <h1 class="title">Resources</h1><hr>
    <div class="row text-center">
        <a href="http://data.worldbank.org/"><img src="../static/img/about/worldbank.jpg" alt="worldbank" class="img-rounded" width="200px"></a><br />
        <b>World Bank Open Data</b><br />
        For data we use.<br />
    </div><br />
    <div class="row text-center">
        <div class="col-md-4">
            <a href="http://getbootstrap.com"><img src="../static/img/about/bootstrap.jpg" alt="bootstrap" class="img-rounded" width="200px"></a><br />
            <b>Bootstrap</b><br />
            For beautiful framework. <br />
        </div>
        <div class="col-md-4">
            <a href="http://jvectormap.com/"><img src="../static/img/about/jvectormap.jpg" alt="jvectormap" class="img-rounded" width="200px"></a><br />
            <b>jVectorMap</b><br />
            For easier mapping. <br />
        </div>
        <div class="col-md-4">
            <a href="https://www.devbridge.com/sourcery/components/jquery-autocomplete/"><img src="../static/img/about/autocomplete.jpg" alt="autocomplete" class="img-rounded" width="200px"></a><br />
            <b>Ajax AutoComplete for jQuery</b><br />
            For autocomplete. <br />
        </div>
    </div>
</section>
