<html>

    <?php require('header.php'); ?>

    <body>

        <section class="container">

            <h1 class="title">Countries's list</h1><hr>
            <table class="table-country">
                <tbody>
                    <tr>
                        <td><a href="result/afghanistan">Afghanistan</a></td>
                        <td><a href="result/dominica">Dominica</a></td>
                        <td><a href="result/lesotho">Lesotho</a></td>
                        <td><a href="result/sao-tome-and-principe">Sao Tome and Principe</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/albania">Albania</a></td>
                        <td><a href="result/dominican-republic">Dominican Republic</a></td>
                        <td><a href="result/liberia">Liberia</a></td>
                        <td><a href="result/saudi-arabia">Saudi Arabia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/algeria">Algeria</a></td>
                        <td><a href="result/ecuador">Ecuador</a></td>
                        <td><a href="result/libya">Libya</a></td>
                        <td><a href="result/senegal">Senegal</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/american-samoa">American Samoa</a></td>
                        <td><a href="result/egypt">Egypt</a></td>
                        <td><a href="result/liechtenstein">Liechtenstein</a></td>
                        <td><a href="result/serbia">Serbia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/L5">Andean Region</a></td>
                        <td><a href="result/el-salvador">El Salvador</a></td>
                        <td><a href="result/lithuania">Lithuania</a></td>
                        <td><a href="result/seychelles">Seychelles</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/andorra">Andorra</a></td>
                        <td><a href="result/equatorial-guinea">Equatorial Guinea</a></td>
                        <td><a href="result/luxembourg">Luxembourg</a></td>
                        <td><a href="result/sierra-leone">Sierra Leone</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/angola">Angola</a></td>
                        <td><a href="result/eritrea">Eritrea</a></td>
                        <td><a href="result/macao-sar-china">Macao SAR, China</a></td>
                        <td><a href="result/singapore">Singapore</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/antigua-and-barbuda">Antigua and Barbuda</a></td>
                        <td><a href="result/estonia">Estonia</a></td>
                        <td><a href="result/macedonia-fyr">Macedonia, FYR</a></td>
                        <td><a href="result/SX">Sint Maarten (Dutch part)</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/argentina">Argentina</a></td>
                        <td><a href="result/ethiopia">Ethiopia</a></td>
                        <td><a href="result/madagascar">Madagascar</a></td>
                        <td><a href="result/slovak-republic">Slovak Republic</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/armenia">Armenia</a></td>
                        <td><a href="result/faeroe-islands">Faeroe Islands</a></td>
                        <td><a href="result/malawi">Malawi</a></td>
                        <td><a href="result/slovenia">Slovenia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/aruba">Aruba</a></td>
                        <td><a href="result/fiji">Fiji</a></td>
                        <td><a href="result/malaysia">Malaysia</a></td>
                        <td><a href="result/solomon-islands">Solomon Islands</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/australia">Australia</a></td>
                        <td><a href="result/finland">Finland</a></td>
                        <td><a href="result/maldives">Maldives</a></td>
                        <td><a href="result/somalia">Somalia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/austria">Austria</a></td>
                        <td><a href="result/france">France</a></td>
                        <td><a href="result/mali">Mali</a></td>
                        <td><a href="result/south-africa">South Africa</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/azerbaijan">Azerbaijan</a></td>
                        <td><a href="result/french-polynesia">French Polynesia</a></td>
                        <td><a href="result/malta">Malta</a></td>
                        <td><a href="result/south-sudan">South Sudan</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bahamas">Bahamas, The</a></td>
                        <td><a href="result/gabon">Gabon</a></td>
                        <td><a href="result/marshall-islands">Marshall Islands</a></td>
                        <td><a href="result/spain">Spain</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bahrain">Bahrain</a></td>
                        <td><a href="result/gambia">Gambia, The</a></td>
                        <td><a href="result/mauritania">Mauritania</a></td>
                        <td><a href="result/sri-lanka">Sri Lanka</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bangladesh">Bangladesh</a></td>
                        <td><a href="result/georgia">Georgia</a></td>
                        <td><a href="result/mauritius">Mauritius</a></td>
                        <td><a href="result/st-kitts-and-nevis">St. Kitts and Nevis</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/barbados">Barbados</a></td>
                        <td><a href="result/germany">Germany</a></td>
                        <td><a href="result/mexico">Mexico</a></td>
                        <td><a href="result/st-lucia">St. Lucia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/belarus">Belarus</a></td>
                        <td><a href="result/ghana">Ghana</a></td>
                        <td><a href="result/micronesia-federated-states">Micronesia, Fed. Sts.</a></td>
                        <td><a href="result/MF">St. Martin (French part)</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/belgium">Belgium</a></td>
                        <td><a href="result/greece">Greece</a></td>
                        <td><a href="result/moldova">Moldova</a></td>
                        <td><a href="result/st-vincent-and-the-grenadines">St. Vincent and the Grenadines</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/belize">Belize</a></td>
                        <td><a href="result/greenland">Greenland</a></td>
                        <td><a href="result/monaco">Monaco</a></td>
                        <td><a href="result/sudan">Sudan</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/benin">Benin</a></td>
                        <td><a href="result/grenada">Grenada</a></td>
                        <td><a href="result/mongolia">Mongolia</a></td>
                        <td><a href="result/suriname">Suriname</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bermuda">Bermuda</a></td>
                        <td><a href="result/guam">Guam</a></td>
                        <td><a href="result/montenegro">Montenegro</a></td>
                        <td><a href="result/swaziland">Swaziland</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bhutan">Bhutan</a></td>
                        <td><a href="result/guatemala">Guatemala</a></td>
                        <td><a href="result/morocco">Morocco</a></td>
                        <td><a href="result/sweden">Sweden</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bolivia">Bolivia</a></td>
                        <td><a href="result/guinea">Guinea</a></td>
                        <td><a href="result/mozambique">Mozambique</a></td>
                        <td><a href="result/switzerland">Switzerland</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bosnia-and-herzegovina">Bosnia and Herzegovina</a></td>
                        <td><a href="result/guinea-bissau">Guinea-Bissau</a></td>
                        <td><a href="result/myanmar">Myanmar</a></td>
                        <td><a href="result/syrian-arab-republic">Syrian Arab Republic</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/botswana">Botswana</a></td>
                        <td><a href="result/guyana">Guyana</a></td>
                        <td><a href="result/namibia">Namibia</a></td>
                        <td><a href="result/tajikistan">Tajikistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/brazil">Brazil</a></td>
                        <td><a href="result/haiti">Haiti</a></td>
                        <td><a href="result/nepal">Nepal</a></td>
                        <td><a href="result/tanzania">Tanzania</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/brunei-darussalam">Brunei Darussalam</a></td>
                        <td><a href="result/honduras">Honduras</a></td>
                        <td><a href="result/netherlands">Netherlands</a></td>
                        <td><a href="result/thailand">Thailand</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/bulgaria">Bulgaria</a></td>
                        <td><a href="result/hong-kong-sar-china">Hong Kong SAR, China</a></td>
                        <td><a href="result/new-caledonia">New Caledonia</a></td>
                        <td><a href="result/timor-leste">Timor-Leste</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/burkina-faso">Burkina Faso</a></td>
                        <td><a href="result/hungary">Hungary</a></td>
                        <td><a href="result/new-zealand">New Zealand</a></td>
                        <td><a href="result/togo">Togo</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/burundi">Burundi</a></td>
                        <td><a href="result/iceland">Iceland</a></td>
                        <td><a href="result/nicaragua">Nicaragua</a></td>
                        <td><a href="result/tonga">Tonga</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cape-verde">Cabo Verde</a></td>
                        <td><a href="result/india">India</a></td>
                        <td><a href="result/niger">Niger</a></td>
                        <td><a href="result/trinidad-and-tobago">Trinidad and Tobago</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cambodia">Cambodia</a></td>
                        <td><a href="result/indonesia">Indonesia</a></td>
                        <td><a href="result/nigeria">Nigeria</a></td>
                        <td><a href="result/tunisia">Tunisia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cameroon">Cameroon</a></td>
                        <td><a href="result/Iran,-Islamic-Republic-of">Iran</a></td>
                        <td><a href="result/northern-mariana-islands">Northern Mariana Islands</a></td>
                        <td><a href="result/turkey">Turkey</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/canada">Canada</a></td>
                        <td><a href="result/iraq">Iraq</a></td>
                        <td><a href="result/norway">Norway</a></td>
                        <td><a href="result/turkmenistan">Turkmenistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cayman-islands">Cayman Islands</a></td>
                        <td><a href="result/ireland">Ireland</a></td>
                        <td><a href="result/oman">Oman</a></td>
                        <td><a href="result/turks-and-caicos-islands">Turks and Caicos Islands</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/central-african-republic">Central African Republic</a></td>
                        <td><a href="result/isle-of-man">Isle of Man</a></td>
                        <td><a href="result/pakistan">Pakistan</a></td>
                        <td><a href="result/tuvalu">Tuvalu</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/chad">Chad</a></td>
                        <td><a href="result/israel">Israel</a></td>
                        <td><a href="result/palau">Palau</a></td>
                        <td><a href="result/uganda">Uganda</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/chile">Chile</a></td>
                        <td><a href="result/italy">Italy</a></td>
                        <td><a href="result/panama">Panama</a></td>
                        <td><a href="result/ukraine">Ukraine</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/china">China</a></td>
                        <td><a href="result/jamaica">Jamaica</a></td>
                        <td><a href="result/papua-new-guinea">Papua New Guinea</a></td>
                        <td><a href="result/united-arab-emirates">United Arab Emirates</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/colombia">Colombia</a></td>
                        <td><a href="result/japan">Japan</a></td>
                        <td><a href="result/paraguay">Paraguay</a></td>
                        <td><a href="result/united-kingdom">United Kingdom</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/comoros">Comoros</a></td>
                        <td><a href="result/jordan">Jordan</a></td>
                        <td><a href="result/peru">Peru</a></td>
                        <td><a href="result/united-states">United States</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/Congo,-Democratic-Republic-of-the">Congo, Dem. Rep.</a></td>
                        <td><a href="result/kazakhstan">Kazakhstan</a></td>
                        <td><a href="result/philippines">Philippines</a></td>
                        <td><a href="result/uruguay">Uruguay</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/congo">Congo, Rep.</a></td>
                        <td><a href="result/kenya">Kenya</a></td>
                        <td><a href="result/poland">Poland</a></td>
                        <td><a href="result/uzbekistan">Uzbekistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/costa-rica">Costa Rica</a></td>
                        <td><a href="result/kiribati">Kiribati</a></td>
                        <td><a href="result/portugal">Portugal</a></td>
                        <td><a href="result/vanuatu">Vanuatu</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/Côte-d'Ivoire">Cote d'Ivoire</a></td>
                        <td><a href="result/Korea,-Republic-of">Korea, Republic of</a></td>
                        <td><a href="result/puerto-rico">Puerto Rico</a></td>
                        <td><a href="result/Venezuela,-Bolivarian-Republic-of">Venezuela, Bolivarian Republic of</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/croatia">Croatia</a></td>
                        <td><a href="result/Korea,-Democratic-People's-Republic-of">Korea, Democratic People's Republic of</a></td>
                        <td><a href="result/qatar">Qatar</a></td>
                        <td><a href="result/vietnam">Vietnam</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cuba">Cuba</a></td>
                        <td><a href="result/kuwait">Kuwait</a></td>
                        <td><a href="result/romania">Romania</a></td>
                        <td><a href="result/virgin-islands,-u.s.">Virgin islands, u.s.</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/CW">Curacao</a></td>
                        <td><a href="result/Kyrgyzstan">Kyrgyz Republic</a></td>
                        <td><a href="result/russian-federation">Russian Federation</a></td>
                        <td><a href="result/west-bank-gaza">West Bank and Gaza</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/cyprus">Cyprus</a></td>
                        <td><a href="result/lao-pdr">Lao PDR</a></td>
                        <td><a href="result/rwanda">Rwanda</a></td>
                        <td><a href="result/yemen-republic">Yemen, Rep.</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/czech-republic">Czech Republic</a></td>
                        <td><a href="result/latvia">Latvia</a></td>
                        <td><a href="result/samoa">Samoa</a></td>
                        <td><a href="result/zambia">Zambia</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/denmark">Denmark</a></td>
                        <td><a href="result/lebanon">Lebanon</a></td>
                        <td><a href="result/san-marino">San Marino</a></td>
                        <td><a href="result/zimbabwe">Zimbabwe</a></td>
                    </tr>
                    <tr>
                        <td><a href="result/djibouti">Djibouti</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </section>

    </body>

    <?php require('footer.php'); ?>

</html>
