<html>

    <?php require('header.php'); ?>

    <body>

        <section class="container index">

            <h1 class="title">List country</h1><hr>
            <table class="table">
                <tbody>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/afghanistan">Afghanistan</a></td>
                        <td><a href="http://data.worldbank.org/country/dominica">Dominica</a></td>
                        <td><a href="http://data.worldbank.org/country/lesotho">Lesotho</a></td>
                        <td><a href="http://data.worldbank.org/country/sao-tome-and-principe">Sao Tome and Principe</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/albania">Albania</a></td>
                        <td><a href="http://data.worldbank.org/country/dominican-republic">Dominican Republic</a></td>
                        <td><a href="http://data.worldbank.org/country/liberia">Liberia</a></td>
                        <td><a href="http://data.worldbank.org/country/saudi-arabia">Saudi Arabia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/algeria">Algeria</a></td>
                        <td><a href="http://data.worldbank.org/country/ecuador">Ecuador</a></td>
                        <td><a href="http://data.worldbank.org/country/libya">Libya</a></td>
                        <td><a href="http://data.worldbank.org/country/senegal">Senegal</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/american-samoa">American Samoa</a></td>
                        <td><a href="http://data.worldbank.org/country/egypt-arab-republic">Egypt, Arab Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/liechtenstein">Liechtenstein</a></td>
                        <td><a href="http://data.worldbank.org/country/serbia">Serbia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/L5">Andean Region</a></td>
                        <td><a href="http://data.worldbank.org/country/el-salvador">El Salvador</a></td>
                        <td><a href="http://data.worldbank.org/country/lithuania">Lithuania</a></td>
                        <td><a href="http://data.worldbank.org/country/seychelles">Seychelles</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/andorra">Andorra</a></td>
                        <td><a href="http://data.worldbank.org/country/equatorial-guinea">Equatorial Guinea</a></td>
                        <td><a href="http://data.worldbank.org/country/luxembourg">Luxembourg</a></td>
                        <td><a href="http://data.worldbank.org/country/sierra-leone">Sierra Leone</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/angola">Angola</a></td>
                        <td><a href="http://data.worldbank.org/country/eritrea">Eritrea</a></td>
                        <td><a href="http://data.worldbank.org/country/macao-sar-china">Macao SAR, China</a></td>
                        <td><a href="http://data.worldbank.org/country/singapore">Singapore</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/antigua-and-barbuda">Antigua and Barbuda</a></td>
                        <td><a href="http://data.worldbank.org/country/estonia">Estonia</a></td>
                        <td><a href="http://data.worldbank.org/country/macedonia-fyr">Macedonia, FYR</a></td>
                        <td><a href="http://data.worldbank.org/country/SX">Sint Maarten (Dutch part)</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/argentina">Argentina</a></td>
                        <td><a href="http://data.worldbank.org/country/ethiopia">Ethiopia</a></td>
                        <td><a href="http://data.worldbank.org/country/madagascar">Madagascar</a></td>
                        <td><a href="http://data.worldbank.org/country/slovak-republic">Slovak Republic</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/armenia">Armenia</a></td>
                        <td><a href="http://data.worldbank.org/country/faeroe-islands">Faeroe Islands</a></td>
                        <td><a href="http://data.worldbank.org/country/malawi">Malawi</a></td>
                        <td><a href="http://data.worldbank.org/country/slovenia">Slovenia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/aruba">Aruba</a></td>
                        <td><a href="http://data.worldbank.org/country/fiji">Fiji</a></td>
                        <td><a href="http://data.worldbank.org/country/malaysia">Malaysia</a></td>
                        <td><a href="http://data.worldbank.org/country/solomon-islands">Solomon Islands</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/australia">Australia</a></td>
                        <td><a href="http://data.worldbank.org/country/finland">Finland</a></td>
                        <td><a href="http://data.worldbank.org/country/maldives">Maldives</a></td>
                        <td><a href="http://data.worldbank.org/country/somalia">Somalia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/austria">Austria</a></td>
                        <td><a href="http://data.worldbank.org/country/france">France</a></td>
                        <td><a href="http://data.worldbank.org/country/mali">Mali</a></td>
                        <td><a href="http://data.worldbank.org/country/south-africa">South Africa</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/azerbaijan">Azerbaijan</a></td>
                        <td><a href="http://data.worldbank.org/country/french-polynesia">French Polynesia</a></td>
                        <td><a href="http://data.worldbank.org/country/malta">Malta</a></td>
                        <td><a href="http://data.worldbank.org/country/south-sudan">South Sudan</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bahamas">Bahamas, The</a></td>
                        <td><a href="http://data.worldbank.org/country/gabon">Gabon</a></td>
                        <td><a href="http://data.worldbank.org/country/marshall-islands">Marshall Islands</a></td>
                        <td><a href="http://data.worldbank.org/country/spain">Spain</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bahrain">Bahrain</a></td>
                        <td><a href="http://data.worldbank.org/country/gambia">Gambia, The</a></td>
                        <td><a href="http://data.worldbank.org/country/mauritania">Mauritania</a></td>
                        <td><a href="http://data.worldbank.org/country/sri-lanka">Sri Lanka</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bangladesh">Bangladesh</a></td>
                        <td><a href="http://data.worldbank.org/country/georgia">Georgia</a></td>
                        <td><a href="http://data.worldbank.org/country/mauritius">Mauritius</a></td>
                        <td><a href="http://data.worldbank.org/country/st-kitts-and-nevis">St. Kitts and Nevis</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/barbados">Barbados</a></td>
                        <td><a href="http://data.worldbank.org/country/germany">Germany</a></td>
                        <td><a href="http://data.worldbank.org/country/mexico">Mexico</a></td>
                        <td><a href="http://data.worldbank.org/country/st-lucia">St. Lucia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/belarus">Belarus</a></td>
                        <td><a href="http://data.worldbank.org/country/ghana">Ghana</a></td>
                        <td><a href="http://data.worldbank.org/country/micronesia-federated-states">Micronesia, Fed. Sts.</a></td>
                        <td><a href="http://data.worldbank.org/country/MF">St. Martin (French part)</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/belgium">Belgium</a></td>
                        <td><a href="http://data.worldbank.org/country/greece">Greece</a></td>
                        <td><a href="http://data.worldbank.org/country/moldova">Moldova</a></td>
                        <td><a href="http://data.worldbank.org/country/st-vincent-and-the-grenadines">St. Vincent and the Grenadines</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/belize">Belize</a></td>
                        <td><a href="http://data.worldbank.org/country/greenland">Greenland</a></td>
                        <td><a href="http://data.worldbank.org/country/monaco">Monaco</a></td>
                        <td><a href="http://data.worldbank.org/country/sudan">Sudan</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/benin">Benin</a></td>
                        <td><a href="http://data.worldbank.org/country/grenada">Grenada</a></td>
                        <td><a href="http://data.worldbank.org/country/mongolia">Mongolia</a></td>
                        <td><a href="http://data.worldbank.org/country/suriname">Suriname</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bermuda">Bermuda</a></td>
                        <td><a href="http://data.worldbank.org/country/guam">Guam</a></td>
                        <td><a href="http://data.worldbank.org/country/montenegro">Montenegro</a></td>
                        <td><a href="http://data.worldbank.org/country/swaziland">Swaziland</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bhutan">Bhutan</a></td>
                        <td><a href="http://data.worldbank.org/country/guatemala">Guatemala</a></td>
                        <td><a href="http://data.worldbank.org/country/morocco">Morocco</a></td>
                        <td><a href="http://data.worldbank.org/country/sweden">Sweden</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bolivia">Bolivia</a></td>
                        <td><a href="http://data.worldbank.org/country/guinea">Guinea</a></td>
                        <td><a href="http://data.worldbank.org/country/mozambique">Mozambique</a></td>
                        <td><a href="http://data.worldbank.org/country/switzerland">Switzerland</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bosnia-and-herzegovina">Bosnia and Herzegovina</a></td>
                        <td><a href="http://data.worldbank.org/country/guinea-bissau">Guinea-Bissau</a></td>
                        <td><a href="http://data.worldbank.org/country/myanmar">Myanmar</a></td>
                        <td><a href="http://data.worldbank.org/country/syrian-arab-republic">Syrian Arab Republic</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/botswana">Botswana</a></td>
                        <td><a href="http://data.worldbank.org/country/guyana">Guyana</a></td>
                        <td><a href="http://data.worldbank.org/country/namibia">Namibia</a></td>
                        <td><a href="http://data.worldbank.org/country/tajikistan">Tajikistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/brazil">Brazil</a></td>
                        <td><a href="http://data.worldbank.org/country/haiti">Haiti</a></td>
                        <td><a href="http://data.worldbank.org/country/nepal">Nepal</a></td>
                        <td><a href="http://data.worldbank.org/country/tanzania">Tanzania</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/brunei-darussalam">Brunei Darussalam</a></td>
                        <td><a href="http://data.worldbank.org/country/honduras">Honduras</a></td>
                        <td><a href="http://data.worldbank.org/country/netherlands">Netherlands</a></td>
                        <td><a href="http://data.worldbank.org/country/thailand">Thailand</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/bulgaria">Bulgaria</a></td>
                        <td><a href="http://data.worldbank.org/country/hong-kong-sar-china">Hong Kong SAR, China</a></td>
                        <td><a href="http://data.worldbank.org/country/new-caledonia">New Caledonia</a></td>
                        <td><a href="http://data.worldbank.org/country/timor-leste">Timor-Leste</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/burkina-faso">Burkina Faso</a></td>
                        <td><a href="http://data.worldbank.org/country/hungary">Hungary</a></td>
                        <td><a href="http://data.worldbank.org/country/new-zealand">New Zealand</a></td>
                        <td><a href="http://data.worldbank.org/country/togo">Togo</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/burundi">Burundi</a></td>
                        <td><a href="http://data.worldbank.org/country/iceland">Iceland</a></td>
                        <td><a href="http://data.worldbank.org/country/nicaragua">Nicaragua</a></td>
                        <td><a href="http://data.worldbank.org/country/tonga">Tonga</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cape-verde">Cabo Verde</a></td>
                        <td><a href="http://data.worldbank.org/country/india">India</a></td>
                        <td><a href="http://data.worldbank.org/country/niger">Niger</a></td>
                        <td><a href="http://data.worldbank.org/country/trinidad-and-tobago">Trinidad and Tobago</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cambodia">Cambodia</a></td>
                        <td><a href="http://data.worldbank.org/country/indonesia">Indonesia</a></td>
                        <td><a href="http://data.worldbank.org/country/nigeria">Nigeria</a></td>
                        <td><a href="http://data.worldbank.org/country/tunisia">Tunisia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cameroon">Cameroon</a></td>
                        <td><a href="http://data.worldbank.org/country/iran-islamic-republic">Iran, Islamic Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/northern-mariana-islands">Northern Mariana Islands</a></td>
                        <td><a href="http://data.worldbank.org/country/turkey">Turkey</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/canada">Canada</a></td>
                        <td><a href="http://data.worldbank.org/country/iraq">Iraq</a></td>
                        <td><a href="http://data.worldbank.org/country/norway">Norway</a></td>
                        <td><a href="http://data.worldbank.org/country/turkmenistan">Turkmenistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cayman-islands">Cayman Islands</a></td>
                        <td><a href="http://data.worldbank.org/country/ireland">Ireland</a></td>
                        <td><a href="http://data.worldbank.org/country/oman">Oman</a></td>
                        <td><a href="http://data.worldbank.org/country/turks-and-caicos-islands">Turks and Caicos Islands</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/central-african-republic">Central African Republic</a></td>
                        <td><a href="http://data.worldbank.org/country/isle-of-man">Isle of Man</a></td>
                        <td><a href="http://data.worldbank.org/country/pakistan">Pakistan</a></td>
                        <td><a href="http://data.worldbank.org/country/tuvalu">Tuvalu</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/chad">Chad</a></td>
                        <td><a href="http://data.worldbank.org/country/israel">Israel</a></td>
                        <td><a href="http://data.worldbank.org/country/palau">Palau</a></td>
                        <td><a href="http://data.worldbank.org/country/uganda">Uganda</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/chile">Chile</a></td>
                        <td><a href="http://data.worldbank.org/country/italy">Italy</a></td>
                        <td><a href="http://data.worldbank.org/country/panama">Panama</a></td>
                        <td><a href="http://data.worldbank.org/country/ukraine">Ukraine</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/china">China</a></td>
                        <td><a href="http://data.worldbank.org/country/jamaica">Jamaica</a></td>
                        <td><a href="http://data.worldbank.org/country/papua-new-guinea">Papua New Guinea</a></td>
                        <td><a href="http://data.worldbank.org/country/united-arab-emirates">United Arab Emirates</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/colombia">Colombia</a></td>
                        <td><a href="http://data.worldbank.org/country/japan">Japan</a></td>
                        <td><a href="http://data.worldbank.org/country/paraguay">Paraguay</a></td>
                        <td><a href="http://data.worldbank.org/country/united-kingdom">United Kingdom</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/comoros">Comoros</a></td>
                        <td><a href="http://data.worldbank.org/country/jordan">Jordan</a></td>
                        <td><a href="http://data.worldbank.org/country/peru">Peru</a></td>
                        <td><a href="http://data.worldbank.org/country/united-states">United States</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/congo-dem-rep">Congo, Dem. Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/kazakhstan">Kazakhstan</a></td>
                        <td><a href="http://data.worldbank.org/country/philippines">Philippines</a></td>
                        <td><a href="http://data.worldbank.org/country/uruguay">Uruguay</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/congo-republic">Congo, Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/kenya">Kenya</a></td>
                        <td><a href="http://data.worldbank.org/country/poland">Poland</a></td>
                        <td><a href="http://data.worldbank.org/country/uzbekistan">Uzbekistan</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/costa-rica">Costa Rica</a></td>
                        <td><a href="http://data.worldbank.org/country/kiribati">Kiribati</a></td>
                        <td><a href="http://data.worldbank.org/country/portugal">Portugal</a></td>
                        <td><a href="http://data.worldbank.org/country/vanuatu">Vanuatu</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cote-divoire">Cote d'Ivoire</a></td>
                        <td><a href="http://data.worldbank.org/country/korea-democratic-republic">Korea, Dem. Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/puerto-rico">Puerto Rico</a></td>
                        <td><a href="http://data.worldbank.org/country/venezuela-rb">Venezuela, RB</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/croatia">Croatia</a></td>
                        <td><a href="http://data.worldbank.org/country/korea-republic">Korea, Rep.</a></td>
                        <td><a href="http://data.worldbank.org/country/qatar">Qatar</a></td>
                        <td><a href="http://data.worldbank.org/country/vietnam">Vietnam</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cuba">Cuba</a></td>
                        <td><a href="http://data.worldbank.org/country/kuwait">Kuwait</a></td>
                        <td><a href="http://data.worldbank.org/country/romania">Romania</a></td>
                        <td><a href="http://data.worldbank.org/country/virgin-islands-us">Virgin Islands (U.S.)</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/CW">Curacao</a></td>
                        <td><a href="http://data.worldbank.org/country/kyrgyz-republic">Kyrgyz Republic</a></td>
                        <td><a href="http://data.worldbank.org/country/russian-federation">Russian Federation</a></td>
                        <td><a href="http://data.worldbank.org/country/west-bank-gaza">West Bank and Gaza</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/cyprus">Cyprus</a></td>
                        <td><a href="http://data.worldbank.org/country/lao-pdr">Lao PDR</a></td>
                        <td><a href="http://data.worldbank.org/country/rwanda">Rwanda</a></td>
                        <td><a href="http://data.worldbank.org/country/yemen-republic">Yemen, Rep.</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/czech-republic">Czech Republic</a></td>
                        <td><a href="http://data.worldbank.org/country/latvia">Latvia</a></td>
                        <td><a href="http://data.worldbank.org/country/samoa">Samoa</a></td>
                        <td><a href="http://data.worldbank.org/country/zambia">Zambia</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/denmark">Denmark</a></td>
                        <td><a href="http://data.worldbank.org/country/lebanon">Lebanon</a></td>
                        <td><a href="http://data.worldbank.org/country/san-marino">San Marino</a></td>
                        <td><a href="http://data.worldbank.org/country/zimbabwe">Zimbabwe</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://data.worldbank.org/country/djibouti">Djibouti</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


        </section>

    </body>

    <?php require('footer.php'); ?>

</html>
